.cards-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  .cards-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

:root {
    /* Declare custom properties here */
    --main-color: #123123;
}

body {
    font-family: 'Outfit', 'Play', 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    /* min-height: 100vh; */
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.container {
    display: grid;
    height: calc(100vh + 100px);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 120px 40px auto 100px;
}

/* Sidebar */

.sidebar {
    background-color: #991b1b;
    grid-area: 1/1/4/2; 
    display: flex;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    height: 120px;
    box-sizing: border-box;
    padding-right: 15px;
}

.logo p {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: white;
}

#logo-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

/* Sidebar menu */

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    /* outline: white 1px solid; */
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    transition: all 0.1s;
}

.menu li:hover, .menu li:focus {
    border-left: solid 3px white;
    background-color: #7f1d1d;
    color: white;

}

.menu li p {
    font-weight: 300;
    font-style: normal;
    color: white;
}

.menu-icon {
    width: 25px;
    padding-right: 15px;
}

.top-ul {
    flex: 1;
}

.bottom-ul {
    padding-bottom: 15px;
}


/* Main Content */

/* Header */

.header {
    grid-area: 1/2/2/4;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.header p {
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    flex: 1;
    color: #404040;
}

.header-icon-bundle {
    /* outline: solid black 1px; */
    width: 100px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 2px solid rgb(64,64,64,0.4);
}

.header-icon {
    width: 25px;
    transition: all 0.3s;
    opacity: 0.4
}

.header-icon:focus, .header-icon:hover {
    opacity: 1;
} 

.user-bundle {
    width: 180px;
    padding-left: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-name {
    color: #404040;
    font-size: 18px;
    font-weight: 300;
}

#user-pp {
    width: 50px;
    height: 50px;
    background-color: #123123;
    border-radius: 50%;
}

/* Search and filter bar */

.content-topbar {
    grid-area: 2/2/3/3;
    /* background-color: #fef2f2; */
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}


.search-icon {
    width: 25px;
    opacity: 0.4;
}

.search-bar input {
    padding-left: 5px;
    /* padding-right: 15px; */
    flex: 1;
    text-decoration: none;
    border: 0px;
    height: 30px;
    background-color: transparent;

    font-family: 'Outfit', 'Play', 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #404040;
}

::placeholder {
    color: rgb(64,64,64,0.4);
    opacity: 1; /* Firefox */
}

.sort-dial {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(64,64,64,0.4);
    font-weight: 400;
}

.sort-direction {
    width: 30px;
}

/* Main Article Content */


.cards-container {
    grid-area: 3/2/4/3;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    padding: 15px;
    /* background-color: #fef2f2; */
}

.card {
    border-radius: 10px;
    height: 300px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* RHS extra side content */

.challenges-container {
    grid-area: 2/3/4/4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin: 10px;

    display: grid;
    grid-template-rows: 50px 100px 100px 100px 100px 100px;
    grid-auto-rows: 100px;
    
    overflow-y: scroll;
}

.challenge-card {
    /* outline: 1px solid black; */


}

/* Footer */
.footer {
    grid-area: 4/1/5/4;
    background-color: white;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}


